extend ./layout
block content
    ul.list-group
        li.list-group-item
            a(href="../") 首页
        li.list-group-item
            a(href="../signup") 注册新账号
        li.list-group-item
            a(href="../list") 电影列表页
        li.list-group-item
            a(href="../admin/movie/add") 增加新电影
